<a href="https://colab.research.google.com/github/podyssea/RecommenderSystems/blob/main/RecSys_coursework_2021_2210049p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessed Coursework Template Notebook

This is the template notebook for the RecSys(H) 2021 coursework. It deals with data preparation and evaluation only.

Please note:
 - use H1 text headings for grouping together blocks of cells. You can then hide these while working on other blocks
 - leave the cell output visible when you submit the notebook

## Setup block

Setup the data files, Python etc.

In [1]:
!rm -rf ratings* books* to_read* test*

!curl -o ratings.csv "http://www.dcs.gla.ac.uk/~craigm/recsysH/coursework/final-ratings.csv" 
!curl -o books.csv "http://www.dcs.gla.ac.uk/~craigm/recsysH/coursework/final-books.csv"
!curl -o to_read.csv "http://www.dcs.gla.ac.uk/~craigm/recsysH/coursework/final-to_read.csv"
!curl -o test.csv "http://www.dcs.gla.ac.uk/~craigm/recsysH/coursework/final-test.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7631k  100 7631k    0     0  4507k      0  0:00:01  0:00:01 --:--:-- 4504k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2366k  100 2366k    0     0  2434k      0 --:--:-- --:--:-- --:--:-- 2432k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7581k  100 7581k    0     0  6398k      0  0:00:01  0:00:01 --:--:-- 6398k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1895k  100 1895k    0     0  1978k      0 --:--:-- --:--:-- --:--:-- 1976k

In [2]:
#Standard setup
import pandas as pd
import numpy as np
import torch
!pip install git+https://github.com/cmacdonald/spotlight.git@master#egg=spotlight
from spotlight.interactions import Interactions
SEED=42

Collecting spotlight
  Cloning https://github.com/cmacdonald/spotlight.git (to revision master) to /tmp/pip-install-buvqiekh/spotlight
  Running command git clone -q https://github.com/cmacdonald/spotlight.git /tmp/pip-install-buvqiekh/spotlight
Requirement already satisfied: torch>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spotlight) (1.7.1+cu101)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from torch>=0.4.0->spotlight) (1.19.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=0.4.0->spotlight) (3.7.4.3)
Building wheels for collected packages: spotlight
  Building wheel for spotlight (setup.py) ... done
  Created wheel for spotlight: filename=spotlight-0.1.6-cp37-none-any.whl size=34097 sha256=31f029caaa9ff53a44b84b519479a3a23ecd7f65a077825ad830a80e031a9bca
  Stored in directory: /tmp/pip-ephem-wheel-cache-sd52bcsf/wheels/22/6f/f1/68cc6c5b563e78737e4a8fed63ddc105a3baf25d2abccae0c6
Successfully built spotlight
Installing collected packages: spotlight
Successfully installed spotlight-0.1.6

# data preparation

In [3]:
#load in the csv files
ratings_df = pd.read_csv("ratings.csv")
books_df = pd.read_csv("books.csv")
to_read_df = pd.read_csv("to_read.csv")
test = pd.read_csv("test.csv")

In [4]:
#cut down the number of items and users
counts=ratings_df[ratings_df["book_id"] < 2000].groupby(["book_id"]).count().reset_index()
valid_books=counts[counts["user_id"] >= 10][["book_id"]]

books_df = books_df.merge(valid_books, on="book_id")
ratings_df = ratings_df[ratings_df["user_id"] < 2000].merge(valid_books, on="book_id")
to_read_df = to_read_df[to_read_df["user_id"] < 2000].merge(valid_books, on="book_id")
test = test[test["user_id"] < 2000].merge(valid_books, on="book_id")


#stringify the id columns
def str_col(df):
  if "user_id" in df.columns:
    df["user_id"] = "u" + df.user_id.astype(str)
  if "book_id" in df.columns:
    df["book_id"] = "b" + df.book_id.astype(str)

str_col(books_df)
str_col(ratings_df)
str_col(to_read_df)
str_col(test)

# Implicit

In [5]:
to_read_df

        Unnamed: 0 user_id book_id
0           386014   u1333   b1797
1            36194    u765   b1797
2            25568   u1042   b1797
3           596738   u1360   b1797
4            52814   u1782   b1797
...            ...     ...     ...
135610      444981    u556   b1157
135611      428922    u343   b1157
135612      457472   u1193   b1743
135613      487831   u1121   b1743
135614      466860   u1511   b1743

[135615 rows x 3 columns]

#explicit

In [6]:
ratings_df

        Unnamed: 0 user_id book_id  rating
0                0      u1    b258       5
1              130     u11    b258       3
2             1998    u143    b258       4
3             4731    u325    b258       4
4             5510    u362    b258       2
...            ...     ...     ...     ...
124757      438735   u1920   b1499       4
124758      439348    u334   b1499       2
124759      439505    u927   b1499       4
124760      439728   u1298   b1499       4
124761      439730    u416   b1499       3

[124762 rows x 4 columns]

#test

In [7]:
test

       Unnamed: 0 user_id book_id
0           26204    u978    b323
1           74616    u109    b323
2          334583   u1721    b323
3          297262    u429    b323
4           30956    u339    b323
...           ...     ...     ...
33912      347299    u272   b1545
33913        1881    u126   b1333
33914      400826   u1841   b1513
33915      518727   u1599   b1513
33916       54189   u1854   b1448

[33917 rows x 3 columns]

#books

In [8]:
books_df

      Unnamed: 0  ...                                    small_image_url
0              0  ...  https://images.gr-assets.com/books/1447303603s...
1              1  ...  https://images.gr-assets.com/books/1474154022s...
2              2  ...  https://images.gr-assets.com/books/1361039443s...
3              3  ...  https://images.gr-assets.com/books/1361975680s...
4              4  ...  https://images.gr-assets.com/books/1490528560s...
...          ...  ...                                                ...
1821        1989  ...  https://images.gr-assets.com/books/1320437247s...
1822        1990  ...  https://images.gr-assets.com/books/1327951890s...
1823        1992  ...  https://s.gr-assets.com/assets/nophoto/book/50...
1824        1996  ...  https://images.gr-assets.com/books/1320269319s...
1825        1998  ...  https://images.gr-assets.com/books/1408753140s...

[1826 rows x 24 columns]

In [9]:
books_df.sort_values('average_rating', ascending=False).head(5)

      Unnamed: 0  ...                                    small_image_url
839          861  ...  https://images.gr-assets.com/books/1391535251s...
420          421  ...  https://images.gr-assets.com/books/1392579059s...
1243        1307  ...  https://images.gr-assets.com/books/1485259138s...
974         1009  ...  https://s.gr-assets.com/assets/nophoto/book/50...
555          561  ...  https://images.gr-assets.com/books/1388184640s...

[5 rows x 24 columns]

Here we construct the Interactions objects from `ratings.csv`, `to_read.csv` and `test.csv`. We manually specify the num_users and num_items parameters to all Interaction objects, in case the test set differs from your training sets.

In [28]:
from collections import defaultdict
from itertools import count, combinations

from spotlight.cross_validation import random_train_test_split

iid_map = defaultdict(count().__next__)


rating_iids = np.array([iid_map[iid] for iid in ratings_df["book_id"].values], dtype = np.int32)
test_iids = np.array([iid_map[iid] for iid in test["book_id"].values], dtype = np.int32)
toread_iids = np.array([iid_map[iid] for iid in to_read_df["book_id"].values], dtype = np.int32)


uid_map = defaultdict(count().__next__)

test_uids = np.array([uid_map[uid] for uid in test["user_id"].values], dtype = np.int32)
rating_uids = np.array([uid_map[uid] for uid in ratings_df["user_id"].values], dtype = np.int32)
toread_uids = np.array([uid_map[iid] for iid in to_read_df["user_id"].values], dtype = np.int32)


uid_rev_map = {v: k for k, v in uid_map.items()}
iid_rev_map = {v: k for k, v in iid_map.items()}


rating_dataset = Interactions(user_ids=rating_uids,
                               item_ids=rating_iids,
                               ratings=ratings_df["rating"].values,
                               num_users=len(uid_rev_map),
                               num_items=len(iid_rev_map))

toread_dataset = Interactions(user_ids=toread_uids,
                               item_ids=toread_iids,
                               num_users=len(uid_rev_map),
                               num_items=len(iid_rev_map))

test_dataset = Interactions(user_ids=test_uids,
                               item_ids=test_iids,
                               num_users=len(uid_rev_map),
                               num_items=len(iid_rev_map))

print(rating_dataset)
print(toread_dataset)
print(test_dataset)

#here we define the validation set
toread_dataset_train, validation = random_train_test_split(toread_dataset, random_state=np.random.RandomState(SEED))
print(validation)

num_items = test_dataset.num_items
num_users = test_dataset.num_users

<Interactions dataset (1999 users x 1826 items x 124762 interactions)>
<Interactions dataset (1999 users x 1826 items x 135615 interactions)>
<Interactions dataset (1999 users x 1826 items x 33917 interactions)>
<Interactions dataset (1999 users x 1826 items x 27123 interactions)>

In [11]:
print(toread_dataset_train)

<Interactions dataset (1999 users x 1826 items x 108492 interactions)>

In [12]:
print(num_items)

1826

#Example code

To evaluate soem of your hand-implemented recommender systems (e.g. Q1, Q4), you will need to instantiate objects that match the specification of a Spotlight model, which `mrr_score()` expects.


Here is an example recommender object that returns 0 for each item, regardless of user.

In [13]:
from spotlight.evaluation import mrr_score, rmse_score


class dummymodel:
  
  def __init__(self, numitems):
    self.predictions=np.zeros(numitems)
  
  #uid is the user we are requesting recommendations for;
  #returns an array of scores, one for each item
  def predict(self, uid):
    #this model returns all zeros, regardless of userid
    return( self.predictions )

#lets evaluate how the effeciveness of dummymodel

dummymodel(num_items)

# print(mrr_score(dummymodel(num_items), test_dataset, train=rating_dataset, k=100).mean())
#as expected, a recommendation model that gives 0 scores for all items obtains a MRR score of 0

In [14]:

#note that the latest copy of Craig's Spotlight displays a progress bar if you set verbose=True
print(mrr_score(dummymodel(num_items), test_dataset, train=rating_dataset, k=100, verbose=True).mean())

1999it [00:00, 2389.03it/s]

0.0

#Question 1

Non personalised baselines for ranking books based on statistics

In [15]:
print(ratings_df.groupby(["user_id"]).mean()["rating"].size)

1999

In [16]:
print(ratings_df['rating'])

0         5
1         3
2         4
3         4
4         2
         ..
124757    4
124758    2
124759    4
124760    4
124761    3
Name: rating, Length: 124762, dtype: int64

In [17]:
# class avg_rating:
#   def __init__(self, num_items):
#     self.predictions = np.ones(num_items) * ratings_df["rating"]
#     print(self.predictions)
 
#   def predict(self, uid):
#     # returns the avg rating regardless of user id
#     return (self.predictions)

# print(mrr_score(avg_rating(num_items), test_dataset, train=rating_dataset, k=100).mean())

In [18]:
class total_ratings:
  def __init__(self, num_items):
    self.predictions = np.ones(num_items) * books_df["ratings_count"].sum()
    print(self.predictions)
 
  def predict(self, uid):
    # returns the avg rating regardless of user id
    return (self.predictions)

print(mrr_score(total_ratings(num_items), test_dataset, train=rating_dataset, k=100).mean())

[3.59758938e+08 3.59758938e+08 3.59758938e+08 ... 3.59758938e+08
 3.59758938e+08 3.59758938e+08]
0.0

In [19]:
class total_5_ratings:
  def __init__(self, num_items):
    self.predictions = np.ones(num_items) * books_df["ratings_5"].sum()
    print(self.predictions)
 
  def predict(self, uid):
    # returns the avg rating regardless of user id
    return (self.predictions)

print(mrr_score(total_5_ratings(num_items), test_dataset, train=rating_dataset, k=100).mean())

[1.60841787e+08 1.60841787e+08 1.60841787e+08 ... 1.60841787e+08
 1.60841787e+08 1.60841787e+08]
0.0

In [20]:
class total_5_ratings_frac:
  def __init__(self, num_items):
    self.predictions = np.ones(num_items) * (books_df['ratings_5'].sum()/books_df['ratings_count'].sum())
    print(self.predictions)
 
  def predict(self, uid):
    # returns the avg rating regardless of user id
    return (self.predictions)

print(mrr_score(total_5_ratings_frac(num_items), test_dataset, train=rating_dataset, k=100).mean())

[0.44708212 0.44708212 0.44708212 ... 0.44708212 0.44708212 0.44708212]
0.0

# Question 2

In [21]:
#import necessary modules
from spotlight.interactions import Interactions
from spotlight.cross_validation import random_train_test_split
from spotlight.factorization.explicit import ExplicitFactorizationModel
from spotlight.factorization.implicit import ImplicitFactorizationModel
from collections import defaultdict
from itertools import count
import itertools
import time
from scipy.stats import rankdata

In [34]:
#divide the dataset
explicit_train, explicit_test = random_train_test_split(rating_dataset, random_state=np.random.RandomState(SEED))

print(explicit_train)
print(validation)
print(explicit_test)

<Interactions dataset (1999 users x 1826 items x 99809 interactions)>
<Interactions dataset (1999 users x 1826 items x 27123 interactions)>
<Interactions dataset (1999 users x 1826 items x 24953 interactions)>

In [31]:
#define the latent factors
latent_factors = [8,16,32,64]

In [32]:
print("uid %d has user_id %s gave iid %d a rating of %d" % (explicit_train.user_ids[0], uid_rev_map.get(explicit_train.user_ids[0]), explicit_train.item_ids[0],explicit_train.ratings[0]))

uid 1056 has user_id u1560 gave iid 339 a rating of 5

In [37]:
for latent in latent_factors:
    print("\nstarting training for latent factor %d......)\n" % latent)
    emodel = ExplicitFactorizationModel(n_iter=5,
                                    embedding_dim=latent, #this is Spotlight default
                                    use_cuda=False,
                                    random_state=np.random.RandomState(SEED) # ensure results are repeatable
    )

    emodel.fit(explicit_train)
    emodel.fit(explicit_test)

    print("======== MRR ========= for latent factor %d" % latent)
    print("=====================================================)")
    print(mrr_score(emodel, test_dataset).mean())
    print("=====================================================)")
    print(mrr_score(emodel, test_dataset))
    print("=====================================================)")
    # print(rmse_score(emodel, validation).mean())

starting training for latent factor 8......)

======== MRR ========= for latent factor 8
=====================================================)
0.01904702351175588
=====================================================)
[0. 0. 0. ... 0. 0. 0.]
=====================================================)

starting training for latent factor 16......)

======== MRR ========= for latent factor 16
=====================================================)
0.031209850957224644
=====================================================)
[0. 0. 0. ... 0. 0. 0.]
=====================================================)

starting training for latent factor 32......)

======== MRR ========= for latent factor 32
=====================================================)
0.04149793150543526
=====================================================)
[0.  0.  0.5 ... 0.  0.  0. ]
=====================================================)

starting training for latent factor 64......)

======== MRR ========= for latent factor 64
=====================================================)
0.04534092443046921
=====================================================)
[0.         0.11111111 0.14285714 ... 0.         0.         0.        ]
=====================================================)

In [38]:
for latent in latent_factors:
  print("\nstarting training for latent factor %d......)\n" % latent)
  imodel = ImplicitFactorizationModel(loss="bpr",n_iter=5, 
                                      embedding_dim=latent, #this is Spotlight default
                                      use_cuda=False,
                                      random_state=np.random.RandomState(SEED) # ensure results are repeatable
  )

  imodel.fit(explicit_train)
  imodel.fit(explicit_test)

  print("======== MRR ========= for latent factor %d" % latent)
  print("=====================================================)")
  print(mrr_score(imodel, test_dataset).mean())
  print("=====================================================)")
  print(mrr_score(imodel, test_dataset))
  print("=====================================================)")
  # print(rmse_score(imodel, explicit_test).mean())

starting training for latent factor 8......)

======== MRR ========= for latent factor 8
=====================================================)
0.23233918546574875
=====================================================)
[0.         0.         0.14285714 ... 0.         0.         0.        ]
=====================================================)

starting training for latent factor 16......)

======== MRR ========= for latent factor 16
=====================================================)
0.22353637136028331
=====================================================)
[0.         0.         0.16666667 ... 0.         0.         0.        ]
=====================================================)

starting training for latent factor 32......)

======== MRR ========= for latent factor 32
=====================================================)
0.22433240429738677
=====================================================)
[0.125 0.    0.    ... 0.    0.    0.   ]
=====================================================)

starting training for latent factor 64......)

======== MRR ========= for latent factor 64
=====================================================)
0.20716171577852419
=====================================================)
[0. 0. 0. ... 0. 0. 0.]
=====================================================)

# Question 3 (a)

In [39]:
latent_factors = [8,16,32,64]

for latent in latent_factors:

  print("\nstarting training for latent factor %d......)\n" % latent)
  implicit_model = ImplicitFactorizationModel(loss="bpr",n_iter=5, 
                                              embedding_dim=latent, 
                                              use_cuda=False, 
                                              random_state=np.random.RandomState(SEED))
  
  implicit_model.fit(toread_dataset_train, verbose=False)
  implicit_model.fit(validation)

  print("======== MRR ========= for latent factor %d" % latent)
  print("=====================================================)")
  print(mrr_score(implicit_model, test_dataset).mean())
  print("=====================================================)")
  print(mrr_score(implicit_model, test_dataset))
  print("=====================================================)")
  # print(rmse_score(implicit_model, validation).mean())

starting training for latent factor 8......)

======== MRR ========= for latent factor 8
=====================================================)
0.22416803639915198
=====================================================)
[0.  0.5 0.2 ... 0.  0.  0. ]
=====================================================)

starting training for latent factor 16......)

======== MRR ========= for latent factor 16
=====================================================)
0.2281702359116066
=====================================================)
[0.   0.25 0.25 ... 0.   0.   0.  ]
=====================================================)

starting training for latent factor 32......)

======== MRR ========= for latent factor 32
=====================================================)
0.2278224429675155
=====================================================)
[0.  0.5 0.2 ... 0.  0.  0. ]
=====================================================)

starting training for latent factor 64......)

======== MRR ========= for latent factor 64
=====================================================)
0.1951235538404123
=====================================================)
[0.         0.33333333 0.25       ... 0.         0.         0.33333333]
=====================================================)

# Question 3 (b)

In [40]:
books_df_replicate = books_df.copy()
books_df_replicate.rename(columns = {"Unnamed: 0" : "item_id"}, inplace = True)
books_df_replicate

      item_id  ...                                    small_image_url
0           0  ...  https://images.gr-assets.com/books/1447303603s...
1           1  ...  https://images.gr-assets.com/books/1474154022s...
2           2  ...  https://images.gr-assets.com/books/1361039443s...
3           3  ...  https://images.gr-assets.com/books/1361975680s...
4           4  ...  https://images.gr-assets.com/books/1490528560s...
...       ...  ...                                                ...
1821     1989  ...  https://images.gr-assets.com/books/1320437247s...
1822     1990  ...  https://images.gr-assets.com/books/1327951890s...
1823     1992  ...  https://s.gr-assets.com/assets/nophoto/book/50...
1824     1996  ...  https://images.gr-assets.com/books/1320269319s...
1825     1998  ...  https://images.gr-assets.com/books/1408753140s...

[1826 rows x 24 columns]

# Question 3 (b) solution

In [41]:
def item_to_titles(item_ids):
  return books_df_replicate.loc[books_df_replicate["item_id"].isin(item_ids)]["title"]

def find_common_titles(a,b, predictions):
  previously_vs_predicted = item_to_titles(np.intersect1d(a, predictions))
  print("These titles were predicted to be previously shelved correctly")
  print(previously_vs_predicted)
  currently_vs_predicted = item_to_titles(np.intersect1d(b, predictions))
  print("\n\nThese titles were predicted to be currently shelved correctly")
  print(currently_vs_predicted)

In [43]:
results = {}
combos = list(combinations(range(3), 2))
shelved = ["previously","currently","predicted"]

for latent_factor in latent_factors:
  implicit_model = ImplicitFactorizationModel(loss="bpr",n_iter=5, 
                                              embedding_dim=latent_factor, 
                                              use_cuda=False, 
                                              random_state=np.random.RandomState(SEED))

  implicit_model.fit(toread_dataset_train, verbose=False)
  implicit_model.fit(validation)

mrr_scores = mrr_score(implicit_model, test_dataset)
user_id = test_dataset.user_ids[mrr_scores.argmax()]

item_ids_indexes_prev = np.where(toread_dataset.user_ids == user_id)
previously_shelved = toread_dataset.item_ids[item_ids_indexes_prev]

item_ids_indexes_curr = np.where(test_dataset.user_ids == user_id)
currently_shelved = test_dataset.item_ids[item_ids_indexes_curr]

predictions = implicit_model.predict(user_id)
predicted_shelved = np.where(predictions > 0)[0]

shelved_items = [previously_shelved, currently_shelved, predicted_shelved]

find_common_titles(previously_shelved, currently_shelved, predicted_shelved)

These titles were predicted to be previously shelved correctly
7                                  The Catcher in the Rye
9                                     Pride and Prejudice
16                   Catching Fire (The Hunger Games, #2)
21                                       The Lovely Bones
33                Fifty Shades of Grey (Fifty Shades, #1)
                              ...
896                                   Luckiest Girl Alive
1009    The Perfect Storm: A True Story of Men Against...
1030    SuperFreakonomics: Global Cooling, Patriotic P...
1282                  The Blind Side: Evolution of a Game
1492                  Deadlocked (Sookie Stackhouse, #12)
Name: title, Length: 75, dtype: object


These titles were predicted to be currently shelved correctly
3                                  To Kill a Mockingbird
10                                       The Kite Runner
15      The Girl with the Dragon Tattoo (Millennium, #1)
23     Harry Potter and the Goblet of Fire (Harry Pot...
67                       The Perks of Being a Wallflower
68                             Insurgent (Divergent, #2)
108                                       Les Misérables
132      Anne of Green Gables (Anne of Green Gables, #1)
147                            Girl with a Pearl Earring
153                                              Macbeth
199                             And Then There Were None
248                  Extremely Loud and Incredibly Close
262                                   The Sun Also Rises
268                                              Rebecca
289                                    Cutting for Stone
339                                            The Iliad
374                     The Death Cure (Maze Runner, #3)
Name: title, dtype: object

# Question 3c

In [44]:
books_df_sorted = books_df.sort_values('average_rating', ascending=False)
books_df_sorted[:5]

      Unnamed: 0  ...                                    small_image_url
839          861  ...  https://images.gr-assets.com/books/1391535251s...
420          421  ...  https://images.gr-assets.com/books/1392579059s...
1243        1307  ...  https://images.gr-assets.com/books/1485259138s...
974         1009  ...  https://s.gr-assets.com/assets/nophoto/book/50...
555          561  ...  https://images.gr-assets.com/books/1388184640s...

[5 rows x 24 columns]

In [45]:
top_5 = books_df_sorted[['average_rating', 'book_id']][:5]
top_5_bookids = top_5['book_id'].tolist()
top_5_itemids = []
for itemid in top_5_bookids:
  print(iid_map.get(itemid))
  top_5_itemids.append(iid_map.get(itemid))

top_5_itemids

1726
1181
1808
884
1425

[1726, 1181, 1808, 884, 1425]

In [46]:
top_5_embeddings = implicit_model._net.item_embeddings.weight[top_5_itemids]
top_5_embeddings

tensor([[ 3.9215e-01,  6.2611e-01,  1.0020e+00,  3.6695e-01, -7.8785e-02,
          4.8278e-01, -4.8430e-01, -8.3853e-01, -8.6347e-01, -3.4951e-01,
         -8.9406e-01,  1.2325e+00, -4.5236e-01,  3.5929e-01, -6.5597e-01,
          2.4485e+00, -4.9889e-01,  9.2668e-01, -1.6462e-01, -1.5614e+00,
          6.6127e-01, -4.6087e-01, -8.7617e-01,  7.9003e-01,  2.2882e-01,
          2.5179e-01,  6.9075e-01, -4.5294e-01, -3.1196e-01,  9.0759e-01,
         -7.0460e-01, -9.0421e-01,  7.7693e-01, -6.8810e-01, -1.3167e+00,
          7.3482e-01,  1.8754e+00,  5.6747e-01,  1.4036e-01, -3.7531e-01,
         -1.1994e-01, -4.1962e-01, -1.1896e+00,  2.2634e-01, -8.5787e-01,
          3.1113e-01,  4.9792e-01,  7.6137e-02, -2.3772e-01, -2.6628e-01,
          7.7050e-01, -7.7995e-01, -4.3699e-01, -4.7693e-01,  1.2760e+00,
          2.2708e-01, -2.7411e-01, -6.2900e-01, -3.3540e-01, -4.0469e-02,
          1.5615e+00,  7.5470e-01, -5.4718e-01, -1.2403e+00],
        [-5.8638e-01,  8.6708e-01,  6.6817e-01,  4.9721e-02, -1.9877e-01,
          3.4085e-01,  3.6403e-01, -7.6138e-01,  1.3300e-01,  3.4446e-01,
          3.2750e-02, -3.3665e-01, -5.2414e-01,  3.3612e-01,  3.3915e-01,
          1.0159e-01,  2.7851e-01,  2.2683e-01, -7.5261e-04,  5.0604e-01,
         -3.6725e-01, -1.1248e+00, -8.8693e-01,  4.3072e-02,  1.2458e+00,
          5.2344e-01,  6.4911e-01,  7.3439e-01, -5.6554e-02,  3.3194e-01,
          7.4691e-01,  1.1022e-03,  4.2540e-01, -2.3503e-01, -3.8887e-01,
         -2.6627e-01, -4.8105e-01, -4.9547e-02,  3.8552e-01,  5.6261e-01,
          6.3507e-01,  7.4625e-01,  4.0892e-02,  4.4014e-01,  2.4074e-01,
          8.5372e-04, -1.5587e-01,  3.2392e-01, -1.7919e-01,  1.3950e+00,
         -6.1871e-01,  2.5313e-01, -2.4809e-01, -4.0072e-01, -4.5441e-01,
         -2.3281e-01,  4.9155e-02,  1.4188e-01,  3.7615e-01, -3.7523e-01,
         -3.1735e-01, -6.6218e-01, -1.3123e+00, -1.8360e-01],
        [-7.9499e-01,  7.9690e-01,  1.1255e+00,  1.8034e-01,  1.1430e-01,
         -4.8113e-01, -2.1151e-01, -4.2706e-01, -1.1862e+00,  2.5472e-01,
          5.7618e-03, -3.7530e-01, -1.6402e+00, -4.8642e-01,  4.0010e-01,
          5.8290e-01,  5.2376e-01,  2.7022e-01,  4.9095e-01, -3.9783e-01,
          7.3618e-02, -4.9607e-01, -5.5082e-01,  1.3326e+00,  3.3924e-01,
         -3.3197e-01,  1.4195e-01,  2.8706e-01,  1.6953e-01, -5.7664e-01,
         -6.9619e-01,  2.5273e-01,  6.2869e-01, -6.8127e-01,  4.1215e-01,
          5.3938e-01,  8.2629e-01,  6.6275e-02,  1.0712e+00,  1.8785e-01,
         -2.1785e-01, -5.2353e-01, -1.6418e+00,  3.4296e-02,  1.2920e-01,
          1.1328e-01,  5.0721e-01, -6.3609e-01,  4.0330e-01,  8.0833e-02,
         -6.8000e-01, -5.3077e-01, -3.8968e-01, -1.0428e+00, -4.8171e-02,
         -4.5919e-01,  2.8432e-01,  5.2634e-01, -3.8054e-01,  1.2333e+00,
          7.2520e-01,  3.1076e-01, -3.3257e-01,  9.1760e-02],
        [ 6.8653e-02, -1.7555e-02,  1.2232e-01,  8.5803e-01,  3.3829e-01,
         -1.9855e-01, -3.5077e-01,  5.4108e-01, -3.7609e-01,  3.2054e-01,
         -3.0974e-01, -7.2832e-01,  1.4502e-04, -1.4654e-01,  1.0488e+00,
          6.4607e-01, -1.3957e-02, -1.7266e-01, -1.3638e-01,  2.8171e-01,
          1.2016e-01,  5.1182e-01, -2.3703e-01,  7.4932e-01,  8.5831e-01,
         -6.4917e-01, -3.1649e-04,  9.7138e-01, -1.3505e-01,  2.0497e-01,
          2.5632e-01, -1.3557e+00,  8.2506e-01, -6.4712e-01,  9.9373e-01,
          6.4542e-01,  1.4168e-01, -6.0862e-02, -5.5861e-01,  4.4368e-01,
          6.4116e-01,  1.3343e-01, -4.4907e-01, -6.4448e-02,  6.5416e-01,
         -8.7497e-01, -1.1801e-01, -2.5349e-01, -5.4943e-02, -3.9998e-01,
          1.8962e-01, -1.8550e-01,  3.4988e-01,  9.0304e-03,  2.8651e-01,
          1.4031e-01,  1.4321e-01,  5.7811e-01,  6.3120e-01,  5.7790e-01,
         -3.5301e-01, -7.8560e-02,  4.6632e-02, -4.8346e-01],
        [-3.8810e-01,  6.7039e-01,  2.3368e-01,  2.0861e-01, -4.7006e-01,
         -2.3631e-01, -6.8330e-01,  1.9914e-01,  1.9339e-01, -1.5675e-02,
         -8.6030e-01,  3.9746e-01, -1.2696e+00, -7.7300e-01, -2.3801e-01,
          1.4861e+00, -3.6360e-01,  1.0940e+00, -7.3792e-01, -8.5623e-01,
          8.8469e-01, -3.0214e-01,  9.1246e-02,  1.1753e+00,  7.2188e-01,
          4.9322e-01, -2.7827e-01,  4.5043e-01, -1.2693e+00,  6.3160e-01,
         -5.1802e-01, -1.3807e+00,  5.3201e-01, -1.8326e-01, -8.4702e-01,
          5.5374e-01,  2.5742e+00,  4.8609e-02,  9.1510e-02, -7.0651e-01,
          5.4125e-01, -1.6876e+00, -7.8044e-01,  2.6789e-02, -7.9177e-01,
          1.1575e-01,  5.0598e-01, -4.6701e-01, -8.9823e-01, -3.5999e-01,
          4.0471e-02,  1.6353e-01, -8.6770e-01,  1.9969e-01,  7.8290e-01,
         -7.0109e-01, -4.0752e-01, -1.2853e-01, -3.6054e-01,  1.9076e-01,
          1.4846e+00,  5.5166e-01,  6.1518e-01, -1.6367e+00]],
       grad_fn=<IndexBackward>)

In [47]:
from scipy import spatial
similarities = []

for combo in combinations(range(5),2):
  i = top_5_embeddings[combo[0]].detach().numpy()
  j = top_5_embeddings[combo[1]].detach().numpy()
  similarities.append(1-spatial.distance.cosine(i,j))

intra_list_div = 2/(5*4) * sum(similarities)
print(intra_list_div)

0.2069293983280659

#Question 4

In [48]:
class combsumIF:  
  def __init__(self):
    self.explicit = self.create_train_model(rating_dataset)
    self.implicit = self.create_train_model(toread_dataset_train)
 
  def create_train_model(self,dataset):
    model = ImplicitFactorizationModel(n_iter = 5, loss = "bpr", random_state=np.random.RandomState(SEED), embedding_dim = 16)
    model.fit(dataset)
    model.fit(validation)
    return model
 
  def predict(self, uid):
    # returns the combined rating
    return 0.5* self.explicit.predict(uid) + 0.5 * self.implicit.predict(uid)

In [49]:
q4 = combsumIF()

In [50]:
q4_mrr_scores = mrr_score(q4, test_dataset)

In [51]:
print(q4_mrr_scores)

[0.   0.25 0.25 ... 0.   0.   0.  ]

In [52]:
#best model from q2
imodel = ImplicitFactorizationModel(loss="bpr",n_iter=5, 
                                    embedding_dim=8, #this is Spotlight default
                                    use_cuda=False,
                                    random_state=np.random.RandomState(SEED) # ensure results are repeatable
)

imodel.fit(explicit_train)
imodel.fit(explicit_test)

q2_mrr_scores = mrr_score(imodel, test_dataset)
print("======== MRR ========= for latent factor %d" % latent)
print("=====================================================)")
print(mrr_score(imodel, test_dataset).mean())
print("=====================================================)")
print(mrr_score(imodel, test_dataset))
print("=====================================================)")

======== MRR ========= for latent factor 64
=====================================================)
0.23233918546574875
=====================================================)
[0.         0.         0.14285714 ... 0.         0.         0.        ]
=====================================================)

In [53]:
#best model from q3
print("\nstarting training for latent factor %d......)\n" % latent)
implicit_model = ImplicitFactorizationModel(loss="bpr",n_iter=5, 
                                            embedding_dim=16, 
                                            use_cuda=False, 
                                            random_state=np.random.RandomState(SEED))

implicit_model.fit(toread_dataset_train, verbose=False)
implicit_model.fit(validation)


q3_mrr_scores = mrr_score(implicit_model, test_dataset)
print("======== MRR ========= for latent factor %d" % latent)
print("=====================================================)")
print(mrr_score(implicit_model, test_dataset).mean())
print("=====================================================)")
print(mrr_score(implicit_model, test_dataset))
print("=====================================================)")

starting training for latent factor 64......)

======== MRR ========= for latent factor 64
=====================================================)
0.2281702359116066
=====================================================)
[0.   0.25 0.25 ... 0.   0.   0.  ]
=====================================================)

In [65]:
import matplotlib.pyplot as plt

#graphs
diff_q2_q4 = q4_mrr_scores - q2_mrr_scores
diff_q3_q4 = q4_mrr_scores - q3_mrr_scores

print(diff_q2_q4)
print(diff_q3_q4)

print(sum(i > 0 for i in diff_q2_q4))
print(sum(i < 0 for i in diff_q2_q4))
print(sum(i == 0 for i in diff_q2_q4))

print(sum(i > 0 for i in diff_q3_q4))
print(sum(i < 0 for i in diff_q3_q4))
print(sum(i == 0 for i in diff_q3_q4))

[0.         0.25       0.10714286 ... 0.         0.         0.        ]
[0. 0. 0. ... 0. 0. 0.]
669
656
674
601
507
891

# Question 5

In [66]:
ratings_df

        Unnamed: 0 user_id book_id  rating
0                0      u1    b258       5
1              130     u11    b258       3
2             1998    u143    b258       4
3             4731    u325    b258       4
4             5510    u362    b258       2
...            ...     ...     ...     ...
124757      438735   u1920   b1499       4
124758      439348    u334   b1499       2
124759      439505    u927   b1499       4
124760      439728   u1298   b1499       4
124761      439730    u416   b1499       3

[124762 rows x 4 columns]

In [67]:
books_df

      Unnamed: 0  ...                                    small_image_url
0              0  ...  https://images.gr-assets.com/books/1447303603s...
1              1  ...  https://images.gr-assets.com/books/1474154022s...
2              2  ...  https://images.gr-assets.com/books/1361039443s...
3              3  ...  https://images.gr-assets.com/books/1361975680s...
4              4  ...  https://images.gr-assets.com/books/1490528560s...
...          ...  ...                                                ...
1821        1989  ...  https://images.gr-assets.com/books/1320437247s...
1822        1990  ...  https://images.gr-assets.com/books/1327951890s...
1823        1992  ...  https://s.gr-assets.com/assets/nophoto/book/50...
1824        1996  ...  https://images.gr-assets.com/books/1320269319s...
1825        1998  ...  https://images.gr-assets.com/books/1408753140s...

[1826 rows x 24 columns]

In [70]:
## Adapated from RecSys - Lab 1 Solution
# def calculate_lift():
positives=ratings_df[ratings_df["rating"]>=4]
positives

# #join positives with itself on userId to get all pairs of books watched by a given user.

pairs=pd.merge(positives, positives, on=["user_id"])
pairs

# #we only want A->B, not B->A. Use the timestamps to restrict the selected pairs
sequences=pairs[pairs['Unnamed: 0_x'] < pairs['Unnamed: 0_y']] 
sequences

# #lets count the frequency of each pair of books
paircounts=sequences[["book_id_x", "book_id_y", "user_id"]].groupby(["book_id_x", "book_id_y"]).count()
paircounts

# paircounts
#sort by the most popular pairs.
pairswithcounts_reset = paircounts.reset_index()
pairswithcounts = pairswithcounts_reset.rename(columns={'user_id' : 'count'}).sort_values(['count'], ascending=False)
pairswithcounts.head()

# pairswithcounts.merge(books_df, left_on=["book_id_x"], right_on="book_id").merge(books_df, left_on=["book_id_y"], right_on="book_id")[["title_x", "title_y"]]

# # # pairswithcounts gives is the frequency of (X AND Y). 

# # #We therefore need the counts of movies
# bookCounts = positives.groupby(['book_id']).count()[['user_id']].reset_index().rename(columns={'user_id' : 'count'})
# bookCounts

# # #lets puts all the information in the sample dataframe.
# allstats = pairswithcounts.merge(bookCounts, left_on='book_id_x', right_on='book_id').merge(bookCounts, left_on='book_id_y', right_on='book_id')
# allstats

# # #and drop out some unused columns
# allstats = allstats[['book_id_x', 'book_id_y', 'count', 'count_x', 'count_y']]
# allstats

# allstats = allstats.loc[:,~allstats.columns.duplicated()]
# allstats

# # #to calculate probabilites we need a denominator. I used the number of total ratings
# num=float(ratings_df.count()["rating"])

# # #we can then perform artihmetic on columns
# allstats["lift"] = (allstats["count"] / num ) / ( (allstats["count_x"] / num) * (allstats["count_y"] / num))

# allstats["support"] = allstats["count"] / sequences["book_id_x"].count()
# allstats[["book_id_x", "book_id_y", "lift", "support"]]

       book_id_x book_id_y  count
536           b1       b17    249
293468        b2       b18    191
293641        b2       b24    180
324957       b24       b27    180
293630        b2       b23    177

In [71]:
pairswithcounts.merge(books_df, left_on=["book_id_x"], right_on="book_id").merge(books_df, left_on=["book_id_y"], right_on="book_id")[["title_x", "title_y"]]

                                                  title_x                               title_y
0                 The Hunger Games (The Hunger Games, #1)  Catching Fire (The Hunger Games, #2)
1       Harry Potter and the Sorcerer's Stone (Harry P...  Catching Fire (The Hunger Games, #2)
2       Harry Potter and the Goblet of Fire (Harry Pot...  Catching Fire (The Hunger Games, #2)
3       Harry Potter and the Half-Blood Prince (Harry ...  Catching Fire (The Hunger Games, #2)
4       Harry Potter and the Prisoner of Azkaban (Harr...  Catching Fire (The Hunger Games, #2)
...                                                   ...                                   ...
721164                                 Nights in Rodanthe  Piercing the Darkness (Darkness, #2)
721165               This Present Darkness (Darkness, #1)  Piercing the Darkness (Darkness, #2)
721166  At First Sight (Jeremy Marsh & Lexie Darnell, #2)  Piercing the Darkness (Darkness, #2)
721167    The Absolutely True Diary of a Part-Time Indian                       Gone (Gone, #1)
721168     The House of the Scorpion (Matteo Alacran, #1)                       Gone (Gone, #1)

[721169 rows x 2 columns]

In [83]:
# # pairswithcounts gives is the frequency of (X AND Y). 

# #We therefore need the counts of movies
bookCounts = positives.groupby(['book_id']).count()[['user_id']].reset_index().rename(columns={'user_id' : 'count'})
bookCounts

# #lets puts all the information in the sample dataframe.
allstats = pairswithcounts.merge(bookCounts, left_on='book_id_x', right_on='book_id').merge(bookCounts, left_on='book_id_y', right_on='book_id')
allstats

# #and drop out some unused columns
allstats = allstats[['book_id_x', 'book_id_y', 'count', 'count_x', 'count_y']]
allstats

allstats = allstats.loc[:,~allstats.columns.duplicated()]
allstats

# #to calculate probabilites we need a denominator. I used the number of total ratings
num=float(ratings_df.count()["rating"])

# #we can then perform artihmetic on columns
allstats["lift"] = (allstats["count"] / num ) / ( (allstats["count_x"] / num) * (allstats["count_y"] / num))

withtitles = allstats.merge(books_df, left_on=['book_id_x'],  right_on="book_id").merge(books_df, left_on=["book_id_y"], right_on="book_id")
# withtitles = withtitles.sort_values(['lift'], ascending=False)
withtitles


withtitles["support"] = withtitles["count"] / sequences["book_id_x"].count()
withtitles[["title_x", "book_id_x", "book_id_y", "lift", "support"]]
final = withtitles[["title_y", "title_x", "book_id_x", "book_id_y", "lift", "support", "count"]]
final

                                     title_y  ... count
0       Catching Fire (The Hunger Games, #2)  ...   365
1       Catching Fire (The Hunger Games, #2)  ...   365
2       Catching Fire (The Hunger Games, #2)  ...   365
3       Catching Fire (The Hunger Games, #2)  ...   365
4       Catching Fire (The Hunger Games, #2)  ...   365
...                                      ...  ...   ...
721164  Piercing the Darkness (Darkness, #2)  ...     1
721165  Piercing the Darkness (Darkness, #2)  ...     1
721166  Piercing the Darkness (Darkness, #2)  ...     1
721167                       Gone (Gone, #1)  ...     1
721168                       Gone (Gone, #1)  ...     1

[721169 rows x 9 columns]

In [84]:
final[final["count"]>= 10].sort_values(['lift'], ascending=False)

                                                  title_y  ... count
54752                               To Kill a Mockingbird  ...   528
661806            The Hunger Games (The Hunger Games, #1)  ...   502
661672            The Hunger Games (The Hunger Games, #1)  ...   502
661805            The Hunger Games (The Hunger Games, #1)  ...   502
76551   Harry Potter and the Deathly Hallows (Harry Po...  ...   453
...                                                   ...  ...   ...
114048                  The Maze Runner (Maze Runner, #1)  ...    26
632999               Brisingr (The Inheritance Cycle, #3)  ...    10
1326                    Mockingjay (The Hunger Games, #3)  ...   259
0                    Catching Fire (The Hunger Games, #2)  ...   365
242565                            Delirium (Delirium, #1)  ...    11

[673867 rows x 9 columns]

<bound method DataFrame.sort_values of        book_id_x book_id_y          lift       support
0             b1       b17    364.310869  1.999159e-04
1             b2       b17   1678.391936  1.999159e-04
2            b24       b17   1912.241959  1.999159e-04
3            b27       b17   1474.298433  1.999159e-04
4            b18       b17   1527.715043  1.999159e-04
...          ...       ...           ...           ...
721164      b622     b1925  17823.142857  5.477147e-07
721165     b1218     b1925  17823.142857  5.477147e-07
721166     b1459     b1925  20793.666667  5.477147e-07
721167      b591      b685   1919.415385  5.477147e-07
721168     b1678      b685   8317.466667  5.477147e-07

[721169 rows x 4 columns]>

In [ ]:
# analysis = calculate_lift()[calculate_lift()["count"]>= 10].sort_values(['lift'], ascending=False)

In [ ]:
# analysis

# Question 6